:root {
	--bg: #3c3b46;
	--bg-dark: #282c34;
	--bg-medium: rgba(255, 255, 255, 0.1);

	--text: #fff;
	--text-disabled: rgba(255, 255, 255, 0.2);
	--text-secondary: rgba(255, 255, 255, 0.4);
	--text-dark: #999;
}

div.calendar-popup {
	background-color: var(--bg);
	border: 1px solid var(--text-medium);
	position: absolute;

	z-index: 1000;
	opacity: 0;
	margin-top: -16px;

	transition: 0.3s;
}

div.calendar-popup.left {
	opacity: 1;
	left: 0;
}

div.calendar-popup.right {
	opacity: 1;
	right: 0;
}

header.calendar-header h3 {
	font-size: 16px;
	width: 120px;
}

div.calendar-grid {
	font-size: 12px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: 1px solid var(--text-medium);

	padding: 0.5rem;
}

/* div.calendar-cell {
	visibility: hidden;
}

.calendar-cell.current-month-cell {
	visibility: visible;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
} */

/* .calendar-cell.current-month-cell.disabled {
	pointer-events: none;
	cursor: default;
}
.calendar-cell.current-month-cell > button:disabled {
	color: var(--text-dark);
}

.calendar-cell.selected-date {
	transition: 0.2s;
} */
