:root {
	--bg: #3c3b46;
	--bg-dark: #282c34;
	--bg-medium: rgba(255, 255, 255, 0.1);

	--text: #fff;
	--text-disabled: rgba(255, 255, 255, 0.2);
	--text-secondary: rgba(255, 255, 255, 0.4);
	--text-dark: #999;
}

*,
::after *,
::before * {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

.datePicker {
	font-size: 16px;
	position: relative;
	display: inline-block;
}

.dateInputField {
	padding: 1.25rem 1rem 0.75rem;
	position: relative;
	/* background-color: var(--bg-medium); */
	background-color: var(--bg);
	border-top-left-radius: 0.35rem;
	border-top-right-radius: 0.35rem;
}

/* .dateInput-field: */

.dateInputWrapper {
	position: relative;
	display: flex;
	background-color: transparent;
}

.inputLabel {
	font-size: 13px;
	position: absolute;
	left: 2px;
	transition: all 0.3s;
	color: var(--text-secondary);
	pointer-events: none;
}

.inputLabel.isFocused {
	transform: translate(-6px, -16px) scale(0.84);
}

.dateInputOutline {
	bottom: 0;
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	color: var(--text-secondary);
}

.dateInputOutline::after {
	content: "";
	width: 50%;
	height: 2px;
	background-color: var(--bg);
	position: absolute;
	right: 0;
}

.dateInputOutline::before {
	content: "";
	width: 50%;
	height: 2px;
	background-color: var(--bg);
	position: absolute;
	left: 0;
}

#dateInput {
	display: flex;
	background-color: transparent;
	color: #fff;
	border: none;
	outline: none;
	font-size: 15px;
}

#dateInput::placeholder {
	opacity: 0;
	transition: 0.3s;
}

#dateInput:focus::placeholder {
	color: var(--text-dark);
	opacity: 1;
}

button {
	color: #fff;
	background: transparent;
	border: none;
	border-radius: 50%;
	height: 32px;
	width: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;

	outline: none;
	cursor: pointer;
}

button.inputIcon {
	position: absolute;
	right: 0px;
	top: -8px;
}

div.dateInputOutline.isFocused {
	height: 2px;
}

div.dateInputOutline.isFocused::after,
div.dateInputOutline.isFocused::before {
	animation: underline-enter 0.2s ease-in forwards;
}

div.dateInputOutline:not(.isFocused)::after,
div.dateInputOutline:not(.isFocused)::before {
	animation: underline-leave 0.2s ease-in forwards;
}

.dateInputField:hover > div.dateInputOutline {
	height: 2px;
	transition: 0.2s;
}

div.calendarCell button:focus,
div.calendarCell button:hover,
div.calendarBtnGroup button:focus-visible {
	background: var(--bg-medium);
}

button.inputIcon:hover:not(:disabled),
button.inputIcon:focus:not(:disabled),
div.calendarBtnGroup button:hover {
	background: var(--bg-medium);
}

input#dateInput:disabled,
button.inputIcon:disabled {
	cursor: default;
	color: var(--text-medium);
}

div.hintContainer {
	height: 16px;
}

small.hint {
	font-variant: small-caps;

	position: absolute;
	left: 18px;
}

div.calendarPopup {
	background-color: var(--bg);
	border: 1px solid var(--text-medium);
	position: absolute;

	z-index: 1000;
	opacity: 0;
	margin-top: -16px;

	transition: 0.3s;
}

div.calendarPopup.left {
	opacity: 1;
	left: 0;
}

div.calendarPopup.right {
	opacity: 1;
	right: 0;
}

header.calendarHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

header.calendarHeader h3 {
	font-size: 16px;
	width: 120px;
}

div.calendarBtnGroup {
	display: inherit;
}

div.calendarGrid {
	font-size: 12px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: 1px solid var(--text-medium);

	padding: 0.5rem;
}

.weekdayCell {
	/* border: 1px solid; */
	height: 24px;
}

div.calendarCell {
	visibility: hidden;
}

.calendarCell.currentMonthCell {
	visibility: visible;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0.5rem; */
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.calendarCell.currentMonthCell.disabled {
	pointer-events: none;
	cursor: default;
}
.calendarCell.currentMonthCell > button:disabled {
	color: var(--text-dark);
}

.calendarCell.selected-date {
	transition: 0.2s;
}

.datePickerOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 1000vw;
	height: 1000vh;
	opacity: 0.01;
	z-index: 900;
}

@keyframes underline-enter {
	0% {
		width: 50%;
		opacity: 0.3;
	}

	100% {
		width: 0%;
		opacity: 0.7;
	}
}

@keyframes underline-leave {
	100% {
		width: 50%;
		opacity: 0.3;
	}

	0% {
		width: 0%;
		opacity: 0.7;
	}
}

@keyframes calendar-show {
	0% {
		transform: scale(0.6);
		/* height: 0; */
	}

	100% {
		transform: scale(1);
		/* height: 100%; */
	}
}
